In [1]:
import pandas as pd

In [2]:
l = ['shiv','222','32e','kcmdk']

df = pd.Series(l,name='col')

In [3]:
df

0     shiv
1      222
2      32e
3    kcmdk
Name: col, dtype: object

In [4]:
dataframe = {
    'Names':['shiv','xyz','eee'],
    'Number':[2,3,4],
}

df = pd.DataFrame(dataframe)

In [5]:
df

  Names  Number
0  shiv       2
1   xyz       3
2   eee       4

In [23]:
df = pd.read_csv('df_arabica_clean.csv')

In [24]:
df.drop(['Unnamed: 0','ID'],axis=1,inplace=True)

In [14]:
df.head(2)

,Country of Origin,Farm Name,Lot Number,Mill,ICO Number,Company,Altitude,Region,Producer,Number of Bags,...,Total Cup Points,Moisture Percentage,Category One Defects,Quakers,Color,Category Two Defects,Expiration,Certification Body,Certification Address,Certification Contact
0,Colombia,Finca El Paraiso,CQU2022015,Finca El Paraiso,NaN,Coffee Quality Union,1700-1930,"Piendamo,Cauca",Diego Samuel Bermudez,1,...,89.33,11.8,0,0,green,3,"September 21st, 2023",Japan Coffee Exchange,"〒413-0002 静岡県熱海市伊豆山１１７３−５８ 1173-58 Izusan, Ata...",松澤 宏樹 Koju Matsuzawa - +81(0)9085642901
1,Taiwan,Royal Bean Geisha Estate,"The 2022 Pacific Rim Coffee Summit,T037",Royal Bean Geisha Estate,NaN,Taiwan Coffee Laboratory,1200,Chiayi,曾福森,1,...,87.58,10.5,0,0,blue-green,0,"November 15th, 2023",Taiwan Coffee Laboratory 台灣咖啡研究室,"QAHWAH CO., LTD 4F, No. 225, Sec. 3, Beixin Rd...","Lin, Jen-An Neil 林仁安 - 886-289116612"

In [15]:
df.columns

Index(['Country of Origin', 'Farm Name', 'Lot Number', 'Mill', 'ICO Number',
       'Company', 'Altitude', 'Region', 'Producer', 'Number of Bags',
       'Bag Weight', 'In-Country Partner', 'Harvest Year', 'Grading Date',
       'Owner', 'Variety', 'Status', 'Processing Method', 'Aroma', 'Flavor',
       'Aftertaste', 'Acidity', 'Body', 'Balance', 'Uniformity', 'Clean Cup',
       'Sweetness', 'Overall', 'Defects', 'Total Cup Points',
       'Moisture Percentage', 'Category One Defects', 'Quakers', 'Color',
       'Category Two Defects', 'Expiration', 'Certification Body',
       'Certification Address', 'Certification Contact'],
      dtype='object')

In [18]:
df.isna()

,Country of Origin,Farm Name,Lot Number,Mill,ICO Number,Company,Altitude,Region,Producer,Number of Bags,...,Total Cup Points,Moisture Percentage,Category One Defects,Quakers,Color,Category Two Defects,Expiration,Certification Body,Certification Address,Certification Contact
0,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
203,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
204,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
205,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
206,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [25]:
df = df.dropna()

In [28]:
filt = (df['ICO Number'] != 'non')
df = df[filt]

In [29]:
df['ICO Number'].values

array(['033/DE/503/002 and 033/DE/268/002', '010/0296/600',
       '010/0475/0207', '033/DE/163/001', '010/1081',
       'ICO: 010/ 0218/0065', '010/0891/00041', '11/35', '11/15/118',
       '11/951/279', '11/441/50', '0033/0004', '002-1894-0006',
       '2-237-05', '11/15/117', '11/54876/03', '5-0025-0131',
       '13-111-027', '010/0148/0712', '010/ 0218/0065', '11/15/96',
       '13-111-030', '11/441/49', '11/15/51', '11/15/59',
       '033/DE/491/001', '010-0424-0586', '033/0010/022', '5-0025-0132',
       '11/15/95', '11/54876/01', '010/0145/0064', '3-0068-00886',
       '016-2028-0312', '11/441/50', '13-167-471', '3-0104-00202',
       '11/35', '5-0025-0130', '033/0010/032', '13-167-471-2',
       '13-111-059', '13-63-119', '3-59-0654', '3093', '13-167-181',
       '017-053-0017', '3/01/12857', '13-63-118', '9-392-35',
       '29-169-003', '002/1643/0049', '13-111-057', '9-392-35',
       '09-392-144', '13-111-056', '5-0015-0228', '301R', '11/15/179',
       '3093', '017/411', '002/1738/0029', '017-053-0155',
       '105/3/VL7285-005', '002/1208/1016'], dtype=object)